STEP 1 â€” ØªØ­Ù…ÙŠÙ„ Ø§Ù„Ø¯Ø§ØªØ§ + ØªÙˆØ­ÙŠØ¯ Ø£Ø³Ù…Ø§Ø¡ Ø§Ù„Ø£Ø¹Ù…Ø¯Ø©
ğŸ§  Ø¹Ù„Ø§Ø´ØŸ

Ø¨Ø§Ø´ Ù…Ø§ Ù†Ø·ÙŠØ­ÙˆØ´ ÙÙ…Ø´Ø§ÙƒÙ„ Ø¯ÙŠØ§Ù„:

spaces

Ø§Ù„Ø­Ø±ÙˆÙ Ø§Ù„ÙƒØ¨ÙŠØ±Ø©/Ø§Ù„ØµØºÙŠØ±Ø©

Ø§Ù„Ø£Ø³Ù…Ø§Ø¡ Ø§Ù„Ø·ÙˆÙŠÙ„Ø©

In [2]:
import pandas as pd
from pathlib import Path

BASE_DIR = Path.cwd().parent
RAW_PATH = BASE_DIR / "data" / "raw" / "ride_bookings.csv"

df = pd.read_csv(RAW_PATH)


df.columns = (
    df.columns
    .str.strip()
    .str.lower()
    .str.replace(" ", "_")
)

df.columns

Index(['date', 'time', 'booking_id', 'booking_status', 'customer_id',
       'vehicle_type', 'pickup_location', 'drop_location', 'avg_vtat',
       'avg_ctat', 'cancelled_rides_by_customer',
       'reason_for_cancelling_by_customer', 'cancelled_rides_by_driver',
       'driver_cancellation_reason', 'incomplete_rides',
       'incomplete_rides_reason', 'booking_value', 'ride_distance',
       'driver_ratings', 'customer_rating', 'payment_method'],
      dtype='object')

ÙÙŠ Ù‡Ø°Ù‡ Ø§Ù„Ø®Ø·ÙˆØ© Ù‚Ù…Ù†Ø§ Ø¨ØªØ­Ù…ÙŠÙ„ Ø§Ù„Ø¨ÙŠØ§Ù†Ø§Øª ÙˆØªÙˆØ­ÙŠØ¯ Ø£Ø³Ù…Ø§Ø¡ Ø§Ù„Ø£Ø¹Ù…Ø¯Ø© Ù„ØªØ³Ù‡ÙŠÙ„ Ø§Ù„ØªØ¹Ø§Ù…Ù„ Ù…Ø¹Ù‡Ø§ Ø£Ø«Ù†Ø§Ø¡ Ø§Ù„ØªØ­Ù„ÙŠÙ„ ÙˆØªÙØ§Ø¯ÙŠ Ø§Ù„Ø£Ø®Ø·Ø§Ø¡ Ø§Ù„Ø¨Ø±Ù…Ø¬ÙŠØ©.

ğŸ”¹ STEP 2 â€” ØªÙ†Ø¸ÙŠÙ Ø§Ù„ØªØ§Ø±ÙŠØ® (date)
ğŸ§  Ø¹Ù„Ø§Ø´ØŸ

Ø¨Ø§Ø´ Ù†Ù‚Ø¯Ø±:

Ù†Ø¹Ø±Ù Ø§Ù„Ø´Ù‡Ø±

Ù†Ø¹Ø±Ù Ø§Ù„ÙŠÙˆÙ…

Ù†ÙØ±Ù‘Ù‚ Ø¨ÙŠÙ† week Ùˆ weekend

In [3]:
df["date"] = pd.to_datetime(df["date"], errors="coerce")

df["month"] = df["date"].dt.month
df["day_name"] = df["date"].dt.day_name()
df["is_weekend"] = df["day_name"].isin(["Saturday", "Sunday"])

df[["date", "month", "day_name", "is_weekend"]].head()

        date  month  day_name  is_weekend
0 2024-03-23      3  Saturday        True
1 2024-11-29     11    Friday       False
2 2024-08-23      8    Friday       False
3 2024-10-21     10    Monday       False
4 2024-09-16      9    Monday       False

ØªÙ… ØªØ­ÙˆÙŠÙ„ Ø¹Ù…ÙˆØ¯ Ø§Ù„ØªØ§Ø±ÙŠØ® Ø¥Ù„Ù‰ Ù†ÙˆØ¹ datetime ÙˆØ¥Ù†Ø´Ø§Ø¡ Ø£Ø¹Ù…Ø¯Ø© Ø¬Ø¯ÙŠØ¯Ø© Ù„ØªØ­Ù„ÙŠÙ„ Ø§Ù„Ù†Ø´Ø§Ø· Ø­Ø³Ø¨ Ø§Ù„Ø£Ø´Ù‡Ø± ÙˆØ§Ù„Ø£ÙŠØ§Ù… ÙˆØ¹Ø·Ù„Ø© Ù†Ù‡Ø§ÙŠØ© Ø§Ù„Ø£Ø³Ø¨ÙˆØ¹.

STEP 3 â€” ØªÙ†Ø¸ÙŠÙ Ø§Ù„ÙˆÙ‚Øª (time) ÙˆØ§Ø³ØªØ®Ø±Ø§Ø¬ Ø§Ù„Ø³Ø§Ø¹Ø©
ğŸ§  Ø¹Ù„Ø§Ø´ØŸ

Ø¨Ø§Ø´ Ù†Ø¹Ø±Ù:

Ø³Ø§Ø¹Ø§Øª Ø§Ù„Ø°Ø±ÙˆØ©

Ø£ÙˆÙ‚Ø§Øª Ø§Ù„Ø¥Ù„ØºØ§Ø¡

In [4]:
df["hour"] = pd.to_datetime(df["time"], errors="coerce").dt.hour

df[["time", "hour"]].head(10)

C:\Users\HP\AppData\Local\Temp\ipykernel_23172\1665996893.py:1: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df["hour"] = pd.to_datetime(df["time"], errors="coerce").dt.hour

       time  hour
0  12:29:38    12
1  18:01:39    18
2  08:56:10     8
3  17:17:25    17
4  22:08:00    22
5  09:44:56     9
6  15:45:58    15
7  17:37:37    17
8  12:49:09    12
9  19:06:48    19

Ù…Ù„Ø§Ø­Ø¸Ø©

ØªÙ… Ø§Ø³ØªØ®Ø±Ø§Ø¬ Ø§Ù„Ø³Ø§Ø¹Ø© Ù…Ù† ÙˆÙ‚Øª Ø§Ù„Ø±Ø­Ù„Ø© Ù„ØªØ­Ù„ÙŠÙ„ Ø¹Ø¯Ø¯ Ø§Ù„Ø­Ø¬ÙˆØ²Ø§Øª Ø­Ø³Ø¨ Ø³Ø§Ø¹Ø§Øª Ø§Ù„ÙŠÙˆÙ….

STEP 4 â€” ØªÙ†Ø¸ÙŠÙ Ø§Ù„Ø£Ø¹Ù…Ø¯Ø© Ø§Ù„Ù†ØµÙŠØ© Ø§Ù„Ø£Ø³Ø§Ø³ÙŠØ©
 Ø¹Ù„Ø§Ø´ØŸ

Ø¨Ø§Ø´:

Ø§Ù„Ù‚ÙŠÙ… ØªÙƒÙˆÙ† Ù…ÙˆØ­Ù‘Ø¯Ø©

filters Ø¯ÙŠØ§Ù„ dashboard ÙŠØ®Ø¯Ù…Ùˆ Ù…Ø²ÙŠØ§Ù†

In [5]:
df["booking_status"] = df["booking_status"].astype(str).str.strip().str.upper()
df["vehicle_type"] = df["vehicle_type"].astype(str).str.strip().str.upper()
df["payment_method"] = df["payment_method"].astype(str).str.strip().str.upper()

df[["booking_status", "vehicle_type", "payment_method"]].head()

    booking_status   vehicle_type payment_method
0  NO DRIVER FOUND          EBIKE            NAN
1       INCOMPLETE       GO SEDAN            UPI
2        COMPLETED           AUTO     DEBIT CARD
3        COMPLETED  PREMIER SEDAN            UPI
4        COMPLETED           BIKE            UPI

Ù…Ù„Ø§Ø­Ø¸Ø©

ØªÙ… ØªÙˆØ­ÙŠØ¯ Ø§Ù„Ù‚ÙŠÙ… Ø§Ù„Ù†ØµÙŠØ© Ù„Ù„Ø£Ø¹Ù…Ø¯Ø© Ø§Ù„Ø£Ø³Ø§Ø³ÙŠØ© Ù„ØªÙØ§Ø¯ÙŠ Ø§Ù„ØªÙƒØ±Ø§Ø± ÙˆØ¶Ù…Ø§Ù† Ø¯Ù‚Ø© Ø§Ù„ØªØ­Ù„ÙŠÙ„

STEP 5 â€” ØªÙ†Ø¸ÙŠÙ Ø£Ø¹Ù…Ø¯Ø© Ø§Ù„Ø£Ø³Ø¨Ø§Ø¨ (reasons)
Ø¹Ù„Ø§Ø´ØŸ

Ø¨Ø§Ø´:

Ù†Ø³Ù‡Ù‘Ù„Ùˆ Ø§Ù„ØªØ­Ù„ÙŠÙ„

Ù…Ø§ Ù†Ø¨Ù‚Ø§ÙˆØ´ Ù†ØªØ¹Ø§Ù…Ù„Ùˆ Ù…Ø¹ NaN ÙÙ€ Ø§Ù„Ø±Ø³ÙˆÙ…

In [6]:
df["reason_for_cancelling_by_customer"] = (
    df["reason_for_cancelling_by_customer"]
    .fillna("NO_ISSUE")
    .str.strip()
    .str.upper()
)

df["driver_cancellation_reason"] = (
    df["driver_cancellation_reason"]
    .fillna("NO_ISSUE")
    .str.strip()
    .str.upper()
)

df["incomplete_rides_reason"] = (
    df["incomplete_rides_reason"]
    .fillna("NO_ISSUE")
    .str.strip()
    .str.upper()
)

df[
    [
        "reason_for_cancelling_by_customer",
        "driver_cancellation_reason",
        "incomplete_rides_reason",
    ]
].head(10)

,reason_for_cancelling_by_customer,driver_cancellation_reason,incomplete_rides_reason
0,NO_ISSUE,NO_ISSUE,NO_ISSUE
1,NO_ISSUE,NO_ISSUE,VEHICLE BREAKDOWN
2,NO_ISSUE,NO_ISSUE,NO_ISSUE
3,NO_ISSUE,NO_ISSUE,NO_ISSUE
4,NO_ISSUE,NO_ISSUE,NO_ISSUE
5,NO_ISSUE,NO_ISSUE,NO_ISSUE
6,NO_ISSUE,NO_ISSUE,NO_ISSUE
7,NO_ISSUE,NO_ISSUE,NO_ISSUE
8,NO_ISSUE,NO_ISSUE,NO_ISSUE
9,NO_ISSUE,NO_ISSUE,OTHER ISSUE

Ù…Ù„Ø§Ø­Ø¸Ø©

ØªÙ… ØªØ¹ÙˆÙŠØ¶ Ø§Ù„Ù‚ÙŠÙ… Ø§Ù„Ù…ÙÙ‚ÙˆØ¯Ø© ÙÙŠ Ø£Ø¹Ù…Ø¯Ø© Ø§Ù„Ø£Ø³Ø¨Ø§Ø¨ Ø¨Ù‚ÙŠÙ…Ø© NO_ISSUE Ù„ØªØ³Ù‡ÙŠÙ„ Ø§Ù„ØªØ­Ù„ÙŠÙ„ ÙˆØ§Ù„ØªÙ…Ø«ÙŠÙ„ Ø§Ù„Ø¨ÙŠØ§Ù†ÙŠ.

STEP 6 â€” Ø­ÙØ¸ Ø§Ù„Ø¨ÙŠØ§Ù†Ø§Øª Ø§Ù„Ù…Ù†Ø¸ÙØ©
Ø¹Ù„Ø§Ø´ØŸ

Ø¨Ø§Ø´:

Ù†Ø³ØªØ®Ø¯Ù…Ù‡Ø§ ÙÙ€ EDA

Ù†Ù‚Ø±Ø§Ù‡Ø§ ÙÙ€ Dashboard

In [7]:
PROCESSED_PATH = BASE_DIR / "data" / "processed" / "ride_bookings_clean.csv"
PROCESSED_PATH.parent.mkdir(parents=True, exist_ok=True)

df.to_csv(PROCESSED_PATH, index=False)
print("âœ… ØªÙ… Ø­ÙØ¸ Ø§Ù„Ø¨ÙŠØ§Ù†Ø§Øª Ø§Ù„Ù…Ù†Ø¸ÙØ© Ø¨Ù†Ø¬Ø§Ø­")

âœ… ØªÙ… Ø­ÙØ¸ Ø§Ù„Ø¨ÙŠØ§Ù†Ø§Øª Ø§Ù„Ù…Ù†Ø¸ÙØ© Ø¨Ù†Ø¬Ø§Ø­

Ù…Ù„Ø§Ø­Ø¸Ø©

ØªÙ… Ø­ÙØ¸ Ø§Ù„Ø¨ÙŠØ§Ù†Ø§Øª Ø§Ù„Ù…Ù†Ø¸ÙØ© ÙÙŠ Ù…Ù„Ù Ø¬Ø¯ÙŠØ¯ Ù„Ø§Ø³ØªØ®Ø¯Ø§Ù…Ù‡Ø§ ÙÙŠ Ø§Ù„ØªØ­Ù„ÙŠÙ„ ÙˆØ¨Ù†Ø§Ø¡ Ù„ÙˆØ­Ø© Ø§Ù„ØªØ­ÙƒÙ…